@model IEnumerable<PetShop.Models.Order>

@{
    ViewData["Title"] = "Success";
}
<div style="padding-left:15%;padding-right:15%">
    <h1>Your delivery to be accepted</h1>

    <p>
        <a asp-action="Category" asp-controller="Products">Back to products</a>
    </p>
    <img style="align-items:center" src="https://assets.theedgemarkets.com/DE12-thumnails-tem1360_theedgemarkets.jpg?rWaliQB6sVOlrzjcUeO0mshfTGHckWaZ" width:5% height:5% alt="Success" />
</div>